<div 
    id="image-container"
    [ngStyle]="{'background-image': 'url(assets/about.png)'}"
    style=" 
        background-position: center top;
        background-size: contain;
        background-repeat: repeat-x;
        opacity: .4;
        height: 65%;
        margin-bottom: 0px;
    ">
</div>

<div 
    id="text-container"
    style="margin-left: 10px;
">

<div style="padding-left: 10px; padding-right: 10px;">
    <p>This is a work-in-progress. All images, literature, and interactions are subject to change.</p>

    <p><i>Garden of Mirrors</i> is an aesthetic-driven non-linear story about introspective statues.</p>

    <p>Images and passages are paired and presented in random order.</p>

    <p>This is a collaborative work between human and AI.</p>
    
    <p><u>Technology:</u></p>
    <ul>
        <li><b>Literature:</b> Chat GPT 3.5</li>
        <li><b>Images:</b> Stable Diffusion 1.5</li>
        <li><b>Framework:</b> Angular 16.2.4</li>
        <li><b>Deployment:</b> Vercel</li>
    </ul>

    <p>Programming & prompts, concepts & design, and additional editing & sculpting by <b>Nicholas R. Kolodziej</b>.</p>

    <p>11.16.23 - </p>

    <p>I hope you enjoy.</p>

    <div style="width: 100%; text-align: center; margin: 0;">
        <button routerLink='/'>BACK</button>
    </div>
    </div>
    <br /><br />
</div>