<div 
    id="image-container"
    [ngStyle]="{'background-image': 'url(' + imageSource + ')'}"
    style=" 
        background-position: center top;
        background-size: contain;
        background-repeat: repeat-x;
        opacity: .4;
        height: 65%;
        margin-bottom: 0px;
    ">
</div>

<div id="text-container" style="margin-left: 10px;">
<br />
    <div style="width: 100%; text-align: center; margin: 0;">
        <h1 *ngIf="textSource.length === 0">{{ title }}</h1>
    </div>

    <div style="padding-left: 5px; padding-right: 5px;">
        <p [innerHtml]="textSource | formatTxt"></p>
    </div>

    <div style="width: 100%; text-align: center; margin: 0;">
        <button *ngIf='buttonSource.length > 0' (click)="resetBook; traverse();">{{ buttonSource }}</button>
        <button *ngIf="continueBook === true && textSource.length <= 0" (click)="traverse()">CONTINUE</button>
        <button *ngIf="continueBook === true && textSource.length <= 0" (click)="delete()">REMOVE BOOKMARK</button>
        <button *ngIf="textSource.length <= 0" routerLink='/about'>ABOUT</button>
        <button *ngIf="textSource === 'FADE OUT.'" (click)="endBook()">END</button>
    </div>
    <br /><br />
    <div style="width: 100%; text-align: center; margin: 0;">
        <div *ngIf="textSource.length <= 0"><p>v.1</p></div>
        <div *ngIf="textSource.length > 0"><p>{{ textArray.length }} remains</p></div>
    </div>
</div>

 