
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    padding: 0;
    background-color: #000000;
}

h1{
    letter-spacing: .2rem; 
    color: #ededed;
    font-family: 'Lora', serif !important; 
}

p, h2, h3, h4, h5, li{
    letter-spacing: .2rem;   
    line-height: 1.8;
    color: #ededed;
    font-family: 'Lora', serif !important;
}

button{
    background-color: black;
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
    font-family: 'Lora', serif;
    padding: 5px 10px 5px 10px;
    font-size: large;
    letter-spacing: .2rem;   
    line-height: 1.8;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    margin-right: 15px;
}

button:hover{
    background-color: #e1e1e1;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e1e1e1;
  }

  @media screen and (max-width: 600px) {
    #image-container{
        background-size: cover !important;
    }
}
  


